@inject HttpClient Http
@inject ZMCache Cache
@inject NavigationManager NavigationManager

<div class=row>
    <div class="col">
        <span class="badge text-light mx-2 @MEV.CssClass(MEVClass.Toxic, OrderBy.Block)">Toxic MEV</span>
        <span class="badge text-light mx-2 @MEV.CssClass(MEVClass.Unclassified, OrderBy.Block)">Other MEV</span>
    </div>
</div>
<div class="row">
    <div class="col">
        @if (MEVBlocks != null)
        {
            <Virtualize Items="@MEVBlocks" Context="mb">
                <hr />
                <span>block </span><a href="block?num=@mb.BlockNumber">@mb.BlockNumber</a>
                <hr />
                <div class="col">
                    <a href="block?num=@mb.BlockNumber">
                        <span class="badge text-light mx-2 my-2 @MEV.CssClass(MEVClass.Toxic, OrderBy.Block)">Toxic MEV Total</span>
                    </a>
                    @("$"+mb.MEVToxicAmount.ToString("0.00"))
                    <a href="block?num=@mb.BlockNumber">
                        <span class="badge text-light mx-2 my-2 @MEV.CssClass(MEVClass.Unclassified, OrderBy.Block)">Other MEV Total</span>
                    </a>
                    @("$"+mb.MEVOtherAmount.ToString("0.00"))
                </div>
                @foreach (var m in mb.Rows)
            {
                /*
                @if (MEV.Get(m.MEVType).DoDisplay && m.MEVAmount.HasValue)
                {
                    <a href="block?num=@mb.BlockNumber&txi=@m.Index">
                        <span class="badge text-light mx-2 @MEV.CssClass(m.MEVType, OrderBy.Block)">@MEV.Get(m.MEVType).Name</span>
                    </a>
                    @if (m.MEVAmount.HasValue)
                    {
                        @("$"+m.MEVAmount.Value.ToString("0.00"))
                    }
                }
                */
            }
        </Virtualize>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                no blocks to display
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<MEVBlock> MEVBlocks { get; set; }
}