@inject NavigationManager NavigationManager
@inject IJSRuntime _jsRuntime

@if (ZV.BlockNumber < API.EarliestZMBlock)
{
    <div class="alert alert-warning" role="alert">
        no time order data before block @API.EarliestZMBlock
    </div>
}

@if (ZV.BlockNumber < API.EarliestMevBlock)
{
    <div class="alert alert-warning" role="alert">
        no mev data before block @API.EarliestMevBlock
    </div>
}

@{
    ZV.SetOrderBy(Order);
    bool isDisabled = (ZV.TxCount == 0 || !ZV.HasZM);
    string canvasStyle = null;
    if (!isDisabled)
        canvasStyle = "border:1px solid #000000";
    if (!ZV.HasMEV) SetFilter(MEVFilter.All);

    <div class="row-filter">
        <div class="order-group">
            <div class="btn-group" role="group" aria-label="transaction filter">
                <abbr title="the final block order chosen by the miner"><button type="button" class="btn btn-outline-light @(ZV.OrderBy==OrderBy.Block?"active":"text-dark")" @onclick="async () => await SetOrder(OrderBy.Block)">block order</button></abbr>
                <abbr title="the order if the miner had ordered by gas price"><button type="button" class="btn btn-outline-light @(ZV.OrderBy==OrderBy.Gas?"active":"text-dark")" @onclick="async () => await SetOrder(OrderBy.Gas)">gas order</button></abbr>
                <abbr title="the order if the miner had ordered fairly by arrival time"><button type="button" class="btn btn-outline-light @(ZV.OrderBy==OrderBy.Time?"active":"text-dark")" @onclick="async () => await SetOrder(OrderBy.Time)" disabled="@isDisabled">fair order</button></abbr>
            </div>
            @if (TxIndex.HasValue)
            {
                <button type="button" class="btn btn-outline-light text-dark ms-4" onclick="javascript:blazorHelpers.scrollToFragment('selected');"><img src="jump.svg" width="16" height="20" />  Jump To Tx</button>
            }
        </div>
        <div class="filter-group">
            <div class="btn-group" role="group" aria-label="transaction filter">
                <abbr title="show all @ZV.TxCount transactions in this block"><button type="button" class="btn btn-outline-light @(Filter==MEVFilter.All?"active":"text-dark")" @onclick="() => SetFilter(MEVFilter.All)" disabled="@(!ZV.HasMEV)"><img src="filter.svg" width="20" height="20" />all</button></abbr>
                <abbr title="show the @ZV.MEVSummaries[(int)MEVFilter.Info].Count classified transactions"><button type="button" class="btn btn-outline-light @(Filter==MEVFilter.Info?"active":"text-dark")" @onclick="() => SetFilter(MEVFilter.Info)" disabled="@(!ZV.HasMEV)"><img src="filter.svg" width="20" height="20" />info</button></abbr>
                <abbr title="show the @ZV.MEVSummaries[(int)MEVFilter.Toxic].Count toxic MEV transactions"><button type="button" class="btn btn-outline-light @(Filter==MEVFilter.Toxic?"active":"text-dark")" @onclick="() => SetFilter(MEVFilter.Toxic)" disabled="@(!ZV.HasMEV)"><img src="filter.svg" width="20" height="20" />toxic</button></abbr>
                <abbr title="show the @ZV.MEVSummaries[(int)MEVFilter.Other].Count unclassified MEV transactions"><button type="button" class="btn btn-outline-light @(Filter==MEVFilter.Other?"active":"text-dark")" @onclick="() => SetFilter(MEVFilter.Other)" disabled="@(!ZV.HasMEV)"><img src="filter.svg" width="20" height="20" />other</button></abbr>
            </div>
        </div>
    </div>

    <abbr title="time order heatmap showing earlier (light-yellow) to later (dark-black) arrival times for each transaction in the block">
    @if (ZV.HasZM)
    {
        if (ZV.TxCount >= 391)
        {
            <div style="max-width: @(ZV.TxCount)px">
                <canvas id="orderCanvas" style="@canvasStyle; width:100%; height: 8px"></canvas><a href="http://info.zeromev.org/explorer.html#heatmap" target="_blank"><img class="imgbtn mx-2" src="/help.svg" width=24 height=24></a>
            </div>
        }
        else
        {
            <canvas id="orderCanvas" width="@ZV.TxCount" height="8" style="@canvasStyle"></canvas><a href="http://info.zeromev.org/explorer.html#heatmap" target="_blank"><img class="imgbtn mx-2" src="/help.svg" width=24 height=24></a>
        }
    }
    </abbr>
}

<div id='txtablediv' class="">
    <table id='txtable' name="txtable" class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#time" target="_blank" title="the index of a transaction in the block when ordered by first seen arrival time">time</a></th>
                <th scope="col" class="px-2"></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#delay" target="_blank" title="the delay between when a transaction was first seen by any of the zeromev nodes and when it was executed and published in the block">delay</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#mev" target="_blank" title="details of MEV and other information. Toxic MEV is in red. Unclassified MEV is in grey">mev</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#impact" target="_blank" title="summarizes the loss to the user of a MEV instance, or in the case of liquidations, the negative of the transaction profit for consistency">impact</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#action" target="_blank" title="gives information about the execution of the transaction, not just those related to an instance of MEV. Examples include swaps, liquidations and NFT trades">action</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#flashbots-bundle" target="_blank" title="when populated, it shows that the transaction was inserted by the miner having been bribed for inclusion in a Flashbots Bundle. The first number is the Flashbots bundle number and the second is the index of the transaction within the bundle"><img src="FB.png"/></a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#transaction-hash" target="_blank" title="an abbreviated hash of the Ethereum transaction. Hover over for the full hash. Click to link to it on Etherscan">txn hash</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#arrival-time" target="_blank" title="the time at which a pending transaction was first seen by any one of the globally distributed zeromev nodes">arrival time</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#from" target="_blank" title="the abbreviated originating address of the Ethereum transaction. Hover over for the full address. Click to link to it on Etherscan">from</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#to" target="_blank" title="the abbreviated destination address of the Ethereum transaction. Hover over for the full address. Click to link to it on Etherscan">to</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#value" target="_blank" title="the value in Eth of the transaction">value (Eth)</a></th>
                <th scope="col"><a href="http://info.zeromev.org/explorer.html#gas-price" target="_blank" title="the bribe to the miner to include the transaction in the chain">gas price (Gwei)</a></th>
            </tr>
        </thead>
        <tbody>
            @{
                filtered = ZV.GetFiltered(Filter);
                <Virtualize Items="@filtered" Context="tx" OverscanCount=@(!TxIndex.HasValue||TxIndex.Value<3?3:TxIndex.Value)>
                    <tr id="@tx.TrId(TxIndex)" class="@tx.TrClass(TxIndex)">
                        <td><abbr title="the index by arrival time">@(ZV.HasZM ? tx.TimeOrderIndex : "-")</abbr></td>
                        <td style="@(ZV.HasZM ? "background-color:"+tx.HeatmapRGB: null)" title="light/yellow show the oldest and dark/black the most recent"></td>
                        <td style="width: 120px"><abbr title="@((MarkupString)tx.InclusionDelayDetail)">@(ZV.HasZM ? tx.InclusionDelayShort : "-")</abbr></td>
                        @if (MEVWeb.Get(tx.MEVClass).IsVisible)
                        {
                            <td><abbr title="@tx.MEVDetail"><a href="@MEVWeb.Get(tx.MEVClass).HelpLink" target="_blank"><span class="badge text-light @MEVWeb.CssClass(tx.MEVClass)">@tx.MEVName</span></a></abbr></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (tx.MEV != null && tx.MEV.MEVType == MEVType.Backrun && ((MEVBackrun)tx.MEV).BackrunAmountUsd != null)
                        {
                            <td><span class="text-secondary" title="the user loss">(@((MarkupString)((MEVBackrun)tx.MEV).BackrunAmountStr))</span></td>
                        }
                        else
                        {
                            <td><abbr title="the user loss">@((MarkupString)tx.MEVAmountStr)</abbr></td>
                        }
                        @if (tx.MEVActionDetail == null)
                        {
                            <td>@((MarkupString)tx.MEVActionSummary)</td>
                        }
                        else
                        {
                            <td><abbr title="@tx.MEVActionDetail">@((MarkupString)tx.MEVActionSummary)</abbr></td>
                        }
                        <td><abbr title="flashbots [bundle number].[index]">@tx.Bundle</abbr></td>
                        <td>@((MarkupString)tx.TxnHashShort)</td>
                        <td><abbr title="@((MarkupString)tx.TimeOrderDetail)">@(ZV.HasZM ? tx.TimeOrder.ToString(Time.Format) : "-")</abbr></td>
                        <td>
                        @((MarkupString)tx.FromShort)
                        @if (tx.From=="0x9008d19f58aabd9ed0d60971565aa8510560ab41")
                        {
                            <img src="/cow.png" width=20 height=20 alt="cowswap" title="from the cowswap mev protection address (see cow.fi)">
                        }                        
                        </td>
                        <td>
                        @((MarkupString)tx.ToShort)
                        @if (tx.To=="0x9008d19f58aabd9ed0d60971565aa8510560ab41")
                        {
                            <img src="/cow.png" width=20 height=20 alt="cowswap" title="to the cowswap mev protection address (see cow.fi)">
                        }                        
                        </td>
                        <td><abbr title="Eth value of the transaction">@tx.Value</abbr></td>
                        <td><abbr title="gas price of the transaction">@tx.GasPrice</abbr></td>
                    </tr>
                </Virtualize>
            }
        </tbody>
    </table>
</div>

@if (ZV.TxCount == 0)
{
    <div class="alert alert-info" role="alert">
        no transactions in this block
    </div>
}

@code {
    [Parameter]
    public ZMView? ZV { get; set; }

    [Parameter]
    public int? TxIndex { get; set; }

    MEVFilter Filter { get; set; } = MEVFilter.All;
    OrderBy Order { get; set; } = OrderBy.Block;
    List<ZMTx> filtered = new List<ZMTx>();
    byte[] R, G, B;

    private void SetFilter(MEVFilter filter)
    {
        Filter = filter;
    }


    private async Task SetOrder(OrderBy order)
    {
        Order = order;
        if (ZV != null)
        {
            ZV.SetOrderBy(order);
            await DisplayOrderBar();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (ZV != null)
            {
                await DisplayOrderBar();
                await Task.Delay(500);
                await _jsRuntime.InvokeVoidAsync("makeTableResponsive");
            }
        }
        catch (Exception e)
        {
        }
    }

    private async Task DisplayOrderBar()
    {
        if (ZV == null || ZV.Txs == null)
            return;

        int len = ZV.Txs.Length;
        if (R == null || R.Length != len)
        {
            R = new Byte[len];
            G = new Byte[len];
            B = new Byte[len];
        }

        for (int i = 0; i < len; i++)
        {
            ZMTx tx = ZV.Txs[i];
            R[i] = tx.R;
            G[i] = tx.G;
            B[i] = tx.B;
        }

        try
        {
            await _jsRuntime.InvokeVoidAsync("orderBar", R, G, B);
        }
        catch (Exception ex)
        {
        }
    }
}
